@import url("https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Libre+Barcode+128&family=National+Park:wght@200..800&family=Special+Gothic+Expanded+One&display=swap");
@import "tailwindcss";
@import "@phosphor-icons/web/bold";

@theme {
  --font-special-gothic-expanded: "Special Gothic Expanded One", sans-serif;
  --font-national-park: "National Park", sans-serif;
  --font-coral-pixels: "Coral Pixels", sans-serif;
  --font-barcode: "Libre Barcode 128", sans-serif;

  --color-background: #ebebeb;
  --color-primary: #494368;
  --color-accent: #ff5f1f;
}

@layer components {
  .link {
    @apply text-accent font-national-park transition-all duration-50;
  }
  .link:hover {
    @apply text-accent/50;
  }
}

.can-bg-change {
  transition: background-color 0.4s, color 0.4s;
}

.can-bg-change:has(.name-hover-trigger:hover) {
  background-color: #ff0054 !important;
  --color-accent: #ebebeb;
}

/* .can-bg-change:has(.name-hover-trigger:hover) .link:hover {
  @apply text-white/50;
} */

.markdown-content {
  @apply font-mono text-sm space-y-1 text-primary;
}

.markdown-content h1 {
  @apply font-coral-pixels text-4xl mb-6 text-center;
}

.markdown-content p {
  @apply text-primary;
}

.markdown-content a {
  @apply text-accent transition-all duration-50;
}

.markdown-content a:hover {
  @apply text-accent/50;
}

.markdown-content h3 {
  @apply font-barcode text-center m-4;
}
