---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex flex-col gap-2 text-[#494368]">
    <h1 class="font-special-gothic text-5xl mb-2">MAAZ ISMAIL</h1>

    <span class="text-sm"
      >Hello. I'm a WRITER and BACKEND ENGINEER based in Germany.</span
    >

    <div class="text-sm">
      Please contact me at <a
        href="mailto:ismail@moazz.co"
        class="text-[#ff0054] font-national-park">ismail@moazz.co</a
      >
      or on <a
        href="https://www.linkedin.com/in/maazis/"
        class="text-[#ff0054] font-national-park">LinkedIn</a
      > :)
    </div>
  </div>
</Layout>
