---
// import Favicon from "../assets/Favicon.astro";
// import SomeOtherTags from "./SomeOtherTags.astro";

const { title = "Maaz Ismail", ...props } = Astro.props;
---
<link rel="sitemap" href="/sitemap-index.xml">
<title>{title}</title>
<meta name="description" content="writer and backend engineer.">

<!-- Web analytics -->
<!-- <script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->

<!-- Open Graph tags -->
<meta property="og:title" content="Maaz Ismail" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.moazz.co/" />
<meta property="og:description" content="writer and backend engineer." />
<!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"> -->
<!-- <meta property="og:image:alt" content=""> -->

<!-- <SomeOtherTags /> -->

<!-- <Favicon /> -->