---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>MAAZ ISMAIL</title>
    <meta name="description" content="writer and backend engineer." />

    <!-- Web analytics -->
    <!-- <script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->

    <!-- Open Graph tags -->
    <meta property="og:title" content="MAAZ ISMAIL" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.moazz.co/" />
    <meta property="og:description" content="Maaz is online." />
    <meta
      property="og:image"
      content="https://media.licdn.com/dms/image/v2/D4E16AQHymLp8SwBqIQ/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1687522304081?e=1751500800&v=beta&t=Z8hEB5p-9LeGfhMgnbtCqwRrNNBk29rAqwZboy7uM-0"
    />
    <meta property="og:image:alt" content="2D artwork from an online user" />
  </head>

  <body class="h-screen bg-background overflow-hidden">
    <slot />
  </body>
</html>
