---
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>MAAZ ISMAIL</title>
    <meta name="description" content="writer and backend engineer." />

    <!-- Web analytics -->
    <!-- <script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->

    <!-- Open Graph tags -->
    <meta property="og:title" content="MAAZ ISMAIL" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.moazz.co/" />
    <meta property="og:description" content="writer and backend engineer." />
    <!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"> -->
    <!-- <meta property="og:image:alt" content=""> -->
  </head>

  <!-- <h1 class="text-3xl font-bold">Hello world!</h1> -->

  <body class="h-screen bg-[#ebebeb] font-mono overflow-hidden">
    <main class="h-screen w-full flex items-center justify-center p-4">
      <slot />
    </main>
  </body>
</html>
