---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>moazz.co</title>
    <meta name="description" content="writer and backend engineer." />

    <!-- Open Graph tags -->
    <meta property="og:title" content="MAAZ ISMAIL" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.moazz.co/" />
    <meta property="og:description" content="Maaz is online." />
    <meta property="og:image" content="/street-guangyuan.jpg" />
    <meta
      property="og:image:alt"
      content="artwork of a street from GuangYuan YU"
    />
  </head>

  <body class="h-screen bg-background overflow-x-hidden md:overflow-hidden">
    <slot />
  </body>
</html>
